* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(241, 240, 240);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.cellphone{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    width: 60%;
}


.login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 34rem;
    width: 40%;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* vertical */
    align-items: center;
    background-color: white;
    padding: 1.3rem 0;
    width: 100%;
    border: 1px solid lightgray;
}
.login-box:nth-child(1){
    min-height: 19rem;
}
.login-box-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.login-box-profile img{
    height: 6rem;
    width: 6rem;
}

.login-box-logo{
    height: 3rem;
}

.login-link-continue{
    background-color: #4898ff;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    padding: 8px;
}

.login-plain-text{
    color: gray;
}

.login-link{
    color: #4898ff;
    font-weight: bold;
}

.login-getapp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.3rem 0;
    width: 100%;
}

.login-getapp-download{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.login-getapp-download-link{
    height: 3rem;
    width: 10rem;
    background-size: cover;
    border-radius: 5%;
}

.login-getapp-download-link:nth-child(1){
    background-image: url('./img/appstore.png');
}

.login-getapp-download-link:nth-child(2){
    background-image: url('./img/playstore.png');
}